.column {
  position: relative;
  background-color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 40px;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .scores-block {
    width: 100%;
    margin: 0 auto;
    max-height: calc(100vh - 440px);
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }

  .column-title {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 28px;
    width: 100%;
    background-color: aqua;
    border-radius: 5px 5px 0px 0px;
    padding: 8px 0;
  }
  .scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;

    .underline {
      border: 1px solid #acacac;
      width: 100%;
      margin-top: 4px;
    }
  }
}
