<div class='column'>
  <div class='column-title' [ngStyle]="{'background-color' : color}">
    <h3>{{columnTitle}}</h3>
  </div>
  <div class="scores-block">
    <div class='scores' *ngFor="let score of scoreArray">
      <p [ngClass]="{'big-font-size':color=='#BF0000'}">
        {{score}}
        <!-- {{color}} -->
        <span *ngIf="!!quanshCrac">
          <span *ngIf='quanshCrac==="quansh"'>-</span>
          <span *ngIf='quanshCrac==="srac"'>+</span>
        </span>
      </p>
      <div class="underline"></div>
    </div>
  </div>
  <app-card-type *ngIf="color=='#BF0000'"></app-card-type>
</div>
