.main-pad {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: 1 / -1;
}
