<div class='card-type-block'>
  <img [ngClass]="{active: activeCardType===1}" (click)="setActiveCardType(1)" class='card-type'
    src="../../../assets/icons/cross.png" alt="cross">
  <img [ngClass]="{active: activeCardType===2}" (click)="setActiveCardType(2)" class='card-type'
    src="../../../assets/icons/cube.png" alt="cube">
  <img [ngClass]="{active: activeCardType===3}" (click)="setActiveCardType(3)" class='card-type'
    src="../../../assets/icons/pik.png" alt="pik">
  <img [ngClass]="{active: activeCardType===4}" (click)="setActiveCardType(4)" class='card-type'
    src="../../../assets/icons/heart.png" alt="heart">
</div>
